
#sidebar{
  font-size: 14px;
  width: 19.5%;
  margin-left: 15px;
}
#main-content #sidebar{
  max-height: 531.5px;
  position: fixed; 
  height: -webkit-fill-available;
}
#main-content{
  margin-top: 105px;
}
#contentboard{
  margin-left:280px;
}
